---
import SectionContainer from "@containers/SectionContainer.astro";
import ServiceCard from "@components/ServiceCard.astro";
import SectionTitle from "@components/SectionTitle.astro";

const services = [
  {
    title: "Search engine optimization",
    url: "#",
    h3Styles: "bg-primary",
    imgSrc: "/bento_images/bento-1.webp",
    linkStyles: "text-dark",
    class: "lg:col-span-5",
  },
  {
    title: "Pay-per-click advertising",
    url: "#",
    h3Styles: "bg-white",
    imgSrc: "/bento_images/bento-2.webp",
    linkStyles: "text-dark",
    class: "bg-primary lg:col-span-7",
  },
  {
    title: "Social Media Marketing",
    url: "#",
    h3Styles: "bg-primary",
    imgSrc: "/bento_images/bento-3.webp",
    linkStyles: "text-white",
    class: "bg-dark lg:col-span-7",
  },
  {
    title: "Email Marketing",
    url: "#",
    h3Styles: "bg-primary",
    imgSrc: "/bento_images/bento-4.webp",
    linkStyles: "text-dark",
    class: "lg:col-span-5",
  },
  {
    title: "Analytics and Tracking",
    url: "#",
    h3Styles: "bg-white max-w-[200px]",
    imgSrc: "/bento_images/bento-6.webp",
    linkStyles: "text-dark",
    class: "bg-primary lg:col-span-5",
  },
  {
    title: "Content Creation",
    url: "#",
    h3Styles: "bg-primary",
    imgSrc: "/bento_images/bento-5.webp",
    linkStyles: "text-white",
    class: "bg-dark lg:col-span-7",
  },
];
---

<SectionContainer
  class="text-center md:flex md:flex-col md:gap-10 md:text-start"
>
  <SectionTitle
    title="Services"
    description="At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:"
  />
  <div class="grid grid-cols-1 auto-rows-[280px] gap-5 lg:grid-cols-12">
    {
      services.map((service) => (
        <ServiceCard
          title={service.title}
          url={service.url}
          h3Styles={service.h3Styles}
          imgSrc={service.imgSrc}
          linkStyles={service.linkStyles}
          class={service.class}
        />
      ))
    }
  </div>
</SectionContainer>
